$font-stack: Poppins;

$first-color: #E4F2E7;
$second-color: #BFD9C5; 
$third-color: #56A689;
$fourth-color: #1B5948; 
$fifth-color: #104037;

$base-background-image: url('../img/layout/background-image.jpg');
$footer-background-image: url('../img/layout/footer.png');

$profil-background-image: url('../img/layout/chmura-znak-prostokat.png');
$info-background-image: url('../img/layout/chmura-ghost-info.png');

$menu-main-background: url('../img/layout/chmura-napis.png');
$menu-list-background: url('../img/layout/znak-lista.png');
$menu-last-background: url('../img/layout/znak-lista-dol.png');

$main-top-background: url('../img/layout/body-top-1.png');
$main-mid-background: url('../img/layout/body-mid.png');
$main-bottom-background: url('../img/layout/body-bottom.png');

$maxWidth: 967px; //to response web
$widthHeader: 1200px;

$font-size: 15px;
$font-color: $third-color;

