@import "_base.scss";


* {
    box-sizing: border-box;
  }

  body{
    background-image: $base-background-image;
    font-family: $font-stack;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-position: center center;
    margin:0;
    display: flex;
    justify-content: center;
  }
  .page{
    margin:0;
    padding: 0;
  }
  //----------------------------------------------------
  // Page Login
  //----------------------------------------------------
  .pageLogin{
    margin: 0 auto;

    text-align: center;
    display: flex;
    flex-direction: column;

    .top{
      width: 100%;
      .infoBox{
        //max-width: 1000px;
        width: 100%;
        .info{
          max-width: 520px;
        }
      }
    }
    .mainBox{
      font-weight: bold;

      .required::before {
        content: "*";
        color: rgb(255, 102, 102);
        margin-left: 5px;
      }
    }
    
    .loginBox, .signinBox, .screens{
      background-color: $third-color;
      border-radius: 10px;
      margin: 15px 20px;
      padding: 10px 0;
    }
    .screens{
      padding: 10px 10px;
      
      .img{
        
        display: flex;
        flex-direction: row;
        img{
          width: 190px;
          height: 100px;
        }
      }
    }
    .footer{
      color: $first-color;
    }
  }

  //----------------------------------------------------
  // Main button
  //----------------------------------------------------
  .mainButton {
    box-shadow: 3px 4px 0px 0px #1b5948;
    background:linear-gradient(to bottom, #e4f2e7 5%, #bfd9c5 100%);
    background-color:#e4f2e7;
    border-radius:5px;
    border:1px solid #56a689;
    display:inline-block;
    cursor:pointer;
    color:#1b5948;
    font-family:Georgia;
    font-size:17px;
    font-weight:bold;
    padding:6px 30px;
    text-decoration:none;

    margin-top: 5px;
  }
  .mainButton:hover {
    background:linear-gradient(to bottom, #bfd9c5 5%, #e4f2e7 100%);
    background-color:#bfd9c5;
  }
  .mainButton:active {
    position:relative;
    top:1px;
  }
  //----------------------------------------------------
  // Top style
  //----------------------------------------------------
  .top{
    float: left;
    width: 79%;
    height: 210px;
    max-width: 1100px;
    text-align:center;
    color: $fifth-color;
    
    display: flex;
    flex-direction: row;
    justify-content: center;

    .infoBox, .profilBox{
      background-repeat: no-repeat;
      background-position: bottom, left;
      background-size: 100% 100%;
    }

    .infoBox{
        background-image: $info-background-image;

        max-width: 600px;
        min-width: 500px;
        max-height: 198px;
        margin-top: 2%;
        width: 65%;
        height: 183px;

        .info{
          margin-top: 50px;
          margin-left: 63px;
          margin-right: 35%;
          max-height: 70px;
          min-width: 200px;
          max-width: 320px;
        }
        
    }
    .profilBox{
        background-image: $profil-background-image;
        //display: flex;

        max-width: 380px;
        max-height: 290px;
        width: 35%;
        height: 210px;
        min-width: 280px;
        
        
        .profil, .profilImage{
          margin-top: 105px;
        }

        .profil{
          max-height: 70px;
          margin-left: 65px;
          text-align: left;
          width: 100px;
          i{
            font-size:16px;
          }
          a:hover{
            color: $third-color;
          }
        } 
        .profilImage{
          width: 53px;
          height: 70px;
          float: right;
          margin-right: 60px;
        }       
        
    }
  }
  
  //----------------------------------------------------
  // Main Box style
  //----------------------------------------------------
  .mainBox {
    width: 950px;
    max-width: 1000px; 
    
    display: flex;
    flex-direction: column;

    .topMain, .main, .bottomMain{
      background-repeat: no-repeat;
      background-position: top, left;
      background-size: 100% 100%;
    }

    .topMain{
      background-image: $main-top-background;
      width: 100%;
      height: 40px;
    }

    .main{
      background-image: $main-mid-background;
      .content{
        padding: 5px;
        margin-left: 30px;
        margin-right: 30px;
        background-color: $fifth-color;
        color: $first-color;
      }
    }

    .bottomMain{
      background-image: $main-bottom-background;
      margin-top: 0;
      width: 100%;
      height: 40px;
    }

  }
  //----------------------------------------------------
  // Footer style
  //----------------------------------------------------
  .footer{
    background-image: $footer-background-image;
    background-position: absolute;

    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    
    
    h3{
      text-align: center;
      color: $first-color;
      padding-top: 3%;
      margin-block-start: 0;
    }
  }
  
  //----------------------------------------------------
  // Responsive styles
  //----------------------------------------------------

  @media only screen and (max-width: $maxWidth) {
    /* For mobile phones: */
    .menuBox, .mainBox, .top {
      width: 100%;
    }
  }

  @media only screen and (max-width: $widthHeader) {
    .top {
      display: flex;
      flex-direction: column;
      min-height: 450px;
    }
    .infoBox, .profilBox {
      //display: block;
      margin-top: 0;
      float: left;
      width: 100%;
    }
    .infoBox{
      min-width: 600px;
      min-height: 210px;
      .info{min-width: 200px;}
    } 
    .profilBox{
      height: 210px;
      min-width: 280px;
      min-height: 210px;
    }
  }